<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="addPenurieForm">
      <ion-item class="ion-margin">
        <ion-label position="stacked">Message</ion-label>
        <ion-textarea formControlName="message" auto-grow="true" maxlength="2000" required="true"></ion-textarea>
      </ion-item>
      <ion-button [disabled]="!addPenurieForm.valid" expand="block" (click)="addPenurie()">Signaler une pénurie</ion-button>
    </form>
  </ion-list>
</ion-content>
