<ion-header>
  <ion-toolbar>
    <ion-title size="small" >{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="addDegradationForm">
        <ion-item class="ion-margin">
          <ion-label position="stacked">Message</ion-label>
          <ion-textarea formControlName="message" auto-grow="true" maxlength="2000" required="true"></ion-textarea>
        </ion-item>
        <ion-button (click)="getPhoto()" expand="block">Prendre une photo</ion-button>
      <ion-button [disabled]="!addDegradationForm.valid" expand="block" (click)="addDegradation()">Signaler une dégradation</ion-button>
    </form>
  </ion-list>
</ion-content>
