<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="medium">
      {{title}}
    </ion-title>
    <ion-title>
      {{arretTao.stopname}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin">
      <ion-button expand="block"  (click)="presentSignalementActionSheet()">Effectuer un signalement</ion-button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Retards
    </ion-list-header>
    <ion-button (click)="presentRetardListModal()">Afficher retards</ion-button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Coupures de ligne
    </ion-list-header>
    <ion-button (click)="presentCoupureListModal()">Afficher coupures</ion-button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Dégradations
    </ion-list-header>
    <ion-button (click)="presentDegradationListModal()">Afficher degradations</ion-button>
  </ion-list>

</ion-content>
