<ion-header>
  <ion-toolbar>
    <ion-title>
      {{piste.rue}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Retour</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" />
  <style>
    html,
    body {
      margin: 0;
    }
  </style>
</ion-header>

<ion-content>
  <div id="map1" class="map1"></div>
  <ion-button expand="block" (click)="showRatingAlert()">Noter Cette piste</ion-button>
  <ion-list id="toggle-list">
    <ion-item>Note : {{piste.note}} /5</ion-item>
    <ion-item>Quartier : {{piste.quartier}}</ion-item>
    <ion-item>Largeur : {{piste.largeur}} m</ion-item>
    <ion-item>Longueur : {{piste.longueur}} m</ion-item>
    <ion-item>Position : {{piste.position}}</ion-item>
    <ion-item>Revetement : {{piste.revetement}}</ion-item>
    <ion-item>Senses : {{piste.sensCycl}}</ion-item>
  </ion-list>
  
</ion-content>
