<ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button default-href="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list class="ion-margin">
        <ion-button expand="block" (click)="presentSignalementActionSheet()">Effectuer un signalement</ion-button>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Pénuries
        </ion-list-header>
        <ion-button (click)="presentPenurieListModal()">Afficher les pénuries</ion-button>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Dégradations
        </ion-list-header>
        <ion-button (click)="presentDegradationListModal()">Afficher les degradations</ion-button>
    </ion-list>
</ion-content>
