<ion-header>
    <ion-toolbar>
        <ion-title>Ligne {{routeName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Fermer</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <form [formGroup]="addCoupureForm">
            <ion-item>
                <ion-label>Arrêt de départ</ion-label>
                <ion-select formControlName="arretDepart">
                    <ion-select-option *ngFor="let arret of arrets"
                                       value={{arret.gid}}>{{arret.stopname}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Arrêt d'arrivée</ion-label>
                <ion-select formControlName="arretArrivee">
                    <ion-select-option *ngFor="let arret of arrets"
                                       value={{arret.gid}}>{{arret.stopname}}</ion-select-option>
                </ion-select>
            </ion-item>
            <div class="errorMessages">
                <ng-container *ngFor="let error of errorMessages.arretArrivee">
                    <div class="errorMessage"
                         *ngIf="addCoupureForm.get('arretArrivee').hasError(error.type) && (addCoupureForm.get('arretArrivee').dirty || addCoupureForm.get('arretArrivee').touched)">
                        {{error.message}}
                    </div>
                </ng-container>
            </div>
            <ion-item class="ion-margin">
                <ion-label position="stacked">Message</ion-label>
                <ion-textarea formControlName="message" auto-grow="true" maxlength="2000"
                              required="true"></ion-textarea>
            </ion-item>
            <ion-button [disabled]="!addCoupureForm.valid" expand="block" (click)="addCoupure()">Signaler une coupure</ion-button>
        </form>
    </ion-list>
</ion-content>
