<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="dismissModal()">Fermer</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-item *ngFor="let penurie of penuries" text-wrap>
            <ion-label text-wrap>
                <h2>{{penurie.date | date: 'dd/MM/yyyy H:mm'}}</h2>
                <p>{{penurie.message}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
