<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="medium">
      {{arretType}} | Ligne {{routeName}}
    </ion-title>
    <ion-title>{{stopname}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngFor="let retard of retards">
    <ion-item>
      <ion-label>
        <p>{{retard.date | date: "HH:mm"}}</p>
        <p>Retard de {{retard.duree}} minutes</p>
        <p>{{retard.message}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Chargement des données...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</ion-content>
