<ion-header>
  <ion-toolbar>
    <ion-title>Pistes Cyclables</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-searchbar type="text" (ionInput)="filterItems($event)" showCancelButton="focus">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let piste of pistesList" (click)=details(piste.gid)>
      {{ piste.rue }}
    </ion-item>
  </ion-list>
</ion-content>