<ion-header>
    <ion-toolbar>
        <ion-title>Ligne {{routeName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Fermer</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-item *ngFor="let coupure of coupures" text-wrap>
            <ion-label text-wrap>
                <h2>Coupure entre l'arrêt {{getArretStopname(coupure.idArretDepart)}} et
                    l'arrêt {{getArretStopname(coupure.idArretArrivee)}}</h2>
                <h2>{{coupure.date | date: 'dd/MM/yyyy H:mm'}}</h2>
                <p>{{coupure.message}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
