<ion-header>
    <ion-toolbar>
        <ion-title>
            My map
        </ion-title>
    </ion-toolbar>
    <link
            rel="stylesheet"
            href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
    />
    <style>
        html,
        body {
            margin: 0;
        }
    </style>
</ion-header>

<ion-content>
    <div id="map" class="map"></div>
    <ion-list id="toggle-list">
        <ion-item *ngFor="let item of toggleList">
            <ion-label>{{item.label}}</ion-label>
            <ion-toggle
                    [(ngModel)]="item.toggled"
                    (ionChange)="showLayer(item.type, item.toggled)"
            ></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-button (click)="presentPisteListModal()">Rechercher une piste cyclable</ion-button>
</ion-content>
