<ion-header>
    <ion-toolbar>
        <ion-title>Se connecter</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list class="ion-margin">
        <form [formGroup]="loginForm">
            <ion-item class="ion-margin">
                <ion-label position="stacked">Nom d'utilisateur</ion-label>
                <ion-input formControlName="login" type="text"></ion-input>
            </ion-item>
            <ion-item class="ion-margin">
                <ion-label position="stacked">Mot de passe</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-button [disabled]="!loginForm.valid" expand="block" (click)="connexion()">Connexion</ion-button>
        </form>
        <ion-button routerLink="/register" routerDirection="forward" expand="block" color="secondary" class="ion-margin-top">Pas de compte ? S'inscrire</ion-button>
    </ion-list>
</ion-content>

