<ion-header>
  <ion-toolbar>
    <ion-title size="small" >{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="">
  <ion-list>
    <ion-item *ngFor="let degradation of degradations" text-wrap>
      <ion-label text-wrap>
        <h2>{{degradation.date | date: 'dd/MM/yyyy H:mm'}}</h2>
        <p>{{degradation.message}}</p>
        <img [src]="sanitarize('data:image/jpg;base64,'+degradation.photo)" style="height:50px;width:50px" *ngIf="degradation.photo !=null"/>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
