<ion-header>
    <ion-toolbar>
        <ion-title>
            {{stationnementVelo.type}}
        </ion-title>
        <ion-title size="small" color="medium">
            {{adress}}
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button default-href="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-margin">
        <ion-button expand="block" (click)="presentSignalementActionSheet()">Effectuer un signalement</ion-button>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Informations
        </ion-list-header>
        <ion-item>
            <ion-text>Nombre de places : {{stationnementVelo.nbPlaces}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-text>Lieu : {{stationnementVelo.lieu}}</ion-text>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Dégradations
        </ion-list-header>
        <ion-button (click)="presentDegradationListModal()">Afficher les degradations</ion-button>
    </ion-list>
</ion-content>
