<ion-header>
    <ion-toolbar>
        <ion-title size="small" color="medium">
            {{arretType}} | Ligne {{routeName}}
        </ion-title>
        <ion-title>{{stopname}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Fermer</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <form [formGroup]="addRetardForm">
            <ion-item class="ion-margin">
                <ion-label position="stacked">Retard</ion-label>
                <ion-input formControlName="retardTime" class="time-retard" min="1" size="small" type="number" required="true"></ion-input>
                <ion-text class="ion-padding-top" slot="end">minutes</ion-text>
            </ion-item>
            <ion-item class="ion-margin">
                <ion-label position="stacked">Message</ion-label>
                <ion-textarea formControlName="message" auto-grow="true" maxlength="2000" required="true"></ion-textarea>
            </ion-item>
            <ion-button [disabled]="!addRetardForm.valid" expand="block" (click)="addRetard()">Signaler le retard</ion-button>
        </form>
    </ion-list>
</ion-content>
